<div class="main selected">
    <div class="centerGrounding">
        <ol>
               <li>
                <p>接入信息</p>
                <i></i>
              </li>
              <div class="line"></div>
              <li class>
                <p>选择应用</p>
                <i></i>
              </li>
              <div class="line"></div>
              <li>
                <p>基本信息</p>
                <i></i>
              </li>
              <div class="line"></div>
              <li>
                <p>销售规格</p>
                <i></i>
              </li>
            </ol>
            <div class="grounding">
            <div class="first-app" data-tpl = "receive">                
              </div>
              <div class="first-app" data-tpl = "select" >               
              </div>
              <div class="first-app" data-tpl = "basicInfo">                  
      </div>
      <div class="first-app" data-tpl = "saleRule"></div>
      <div class="first-app" data-tpl = "submitTpl"></div></div>
    </div>      
</div>
