 <div class="main selected">
            <div class="shelves">
              <div class="title">
              <div class="getting-select">
                 <label for="">应用状态:</label>              
                <div>
                  <select name="" id="">
                  <option value="">全部</option>
                  <option value="0">未上架</option>
                  <option value="1">审核中</option>
                  <option value="3">审核不通过</option>
                  <option value="4">已下架</option>
                </select>
                <i class="fa fa-angle-down"></i>
                </div>
              </div>               
                <div class="search">
                  <input type="search" placeholder="请输入应用名称">
                  <i></i>
                </div>
              </div>             
              <div id="gettingcard">           
              </div>            
            </div>
          </div>

