 <div class="main selected">
            <div class="shelves">
              <div class="title">
                <dl>
                  <dt class="toggle-caret">
                  上架时间
                  <i class="fa fa-caret-down"></i>
                  </dt>
                  <dd>最新时间</dd>
                  <dd>最近一个月</dd>                 
                </dl>
                <dl>
                  <dt class="toggle-caret">
                  商品名称
                  <i class="fa fa-caret-down"></i>                 
                  </dt>
                  <dd>小贷应用</dd>
                </dl>
                <div class="search">
                  <input type="search" placeholder="请输入应用名称">
                  <i></i>
                </div>
              </div>
              <div id="gotcard">               
              </div>            
            </div>   
          </div>
