<div class="submitInfo">
    <div>
      <p>
        <img src="../assets/images/grounding/submitRight.png" alt="">
      </p>
      <p style="margin-top: 30px; margin-bottom: 50px;">资料已提交成功,请耐心等待审核结果.......</p>      
      <p>
        <a href="#getApp" class="keepOn">继续上架</a>
      </p>     
    </div>
</div>
