 <div class="updateMain" style="position: relative;">
      <div class="updatePasswordFirst" style="position: relative;">
        <ol>
          <li class="edit firstItem">
            <p>安全认证</p>
            <i></i>
          </li>
          <div class="line"></div>
          <li class="secondItem">
            <p>重置密码</p>
            <i></i>
          </li>
          <div class="line"></div>
          <li class="thirdItem">
            <p>完成</p>
            <i></i>
          </li>
        </ol>
    </div>
    <div class="updateContentFirst" style="position: relative;">
      <div>
        <p>
          <label for="phone">手机号:</label>
          <input type="text" name=""  id="phone" autocomplete="off"  disabled="true" value=<%=data.user_phone%> >
          <span class="showPhone errMessage">手机号不能为空！</span>
        </p>
         <p>
          <label for="code">短信验证码</label>
          <input type="text" name="" id="code" autocomplete="off" placeholder="请输入验证码">
          <span class="showCode errMessage">验证码不能为空！</span>
          <button class="getCode">获取验证码</button>
        </p>
        <button class="signUp">下一步</button>
      </div>
    </div>
    <div class="updateContentSecond" style="position: relative; display: none">
      <div>
        <p>
          <label for="oldPassword">当前密码</label>
          <input type="password" name="" id="oldPassword" autocomplete="off"  isPass=false onpaste="return false">
          <span class="showPassOne errMessage">密码不能为空！</span>    
        </p>
        <p>
          <label for="newPassword">新密码</label>
          <input type="password" name="" id="newPassword" autocomplete="off"  isPass=false onpaste="return false">
          <span class="showPassOne errMessage">密码不能为空！</span>    
        </p>
        <p>
          <label for="surePassword">确认新密码</label>
          <input type="password" name="" id="surePassword" autocomplete="off"  isPass=false onpaste="return false">
          <span class="showPassOne errMessage">密码不能为空！</span>    
        </p>
        <button class="signUpSecond">下一步</button>
      </div>
    </div>
    <div class="updateContentThird" style="position: relative; display: none">
      <div>
        <p>
          <img src="../assets/images/updatePwd/finished.png" alt="">
        </p>
        <p>
          密码修改成功！ 
        </p>
        <button class="goBack">返回</button>
      </div>
    </div>
</div>
