 <div class="contentBgc">
   <div class="content firstInfo basicContent">
        <div id="failureCause">
          <div class="approve">
            <label for="failureCause" style="float: left;" class="labels">认证失败原因</label>
            <span class="failureCause"><%=data.approveReason%></span>
          </div>
        </div>
        <div style="clear:both"></div>
        <div id="authentication"><img src="" alt=""></div>
        <form  id="commentForm">
            <div class="basicInfo">
              <h3>基本信息</h3>
              <p>
                <label for="auditName" class="labels">联系人姓名:<i>*</i></label>
                <input type="text" name="userRealName" id="auditName" autocomplete="off" placeholder="" minlength="2" required maxlength="30">
              </p>
              <p>
                <label for="auditPhone" class="labels">手机号:<i style="opacity: 0">*</i></label>
                <input type="text" name="userName" id="auditPhone" autocomplete="off" placeholder="" required>
              </p>
              <p>
                <label for="auditMail" class="labels">联系人邮箱:<i>*</i></label>
                <input type="email" name="userEmail" id="auditMail" autocomplete="off" placeholder="" required maxlength="30">
              </p>
            </div>
         <div class="enterpriseInfo" style="position: relative;">
          <h3>企业信息</h3>
          <p>
            <label for="companyName" class="labels">企业名称:<i>*</i></label>
            <input type="text" name="userCompany" id="companyName" autocomplete="off" placeholder="" required maxlength="90">
          </p>
          <p class="office">
            <label for="officeAddress" class="labels">办公地址:<i>*</i></label>
            <select name="userAreaProvince" id="province" required>
               <option value="">省</option>
            </select>
            <select name="userAreaCity" id="city" required>
               <option value="">市区</option>
            </select>
            <p><input type="text" name="userDetailAddress" id="officeAddress" autocomplete="off" placeholder="" required maxlength="190"></p>
          </p>
          <p>
            <label for="industry" class="labels">所属行业:<i>*</i></label>
            <select name="industry" id="industry" required>
                <option value="" >请选择</option>
                <option value="网站">网站</option>
                <option value="移动APP">移动APP</option>
                <option value="IT与软件开发">IT与软件开发</option>
                <option value="新闻媒体">新闻媒体</option>
                <option value="通讯社交">通讯社交</option>
                <option value="电子商务">电子商务</option>
                <option value="游戏">游戏</option>
                <option value="音视频">音视频</option>
                <option value="金融">金融</option>
                <option value="教育">教育</option>
                <option value="医疗健康">医疗健康</option>
                <option value="旅游">旅游</option>
                <option value="物联网">物联网</option>
                <option value="汽车业/车联网">汽车业/车联网</option>
                <option value="O2O">O2O</option>
                <option value="电力/新能源">电力/新能源</option>
                <option value="交通运输">交通运输</option>
                <option value="生产制造">生产制造</option>
                <option value="建筑/地铁">建筑/地铁</option>
                <option value="政府/事业单位">政府/事业单位</option>
                <option value="新零售业/烟草业">新零售业/烟草业</option>
                <option value="基因">基因</option>
                <option value="物流邮政">物流邮政</option>
                <option value="运营商">运营商</option>
                <option value="能源重工">能源重工</option>
                <option value="公共事业/城市服务">公共事业/城市服务</option>
                <option value="教育">教育</option>
            </select>
          </p>
          <p>
            <label for="corporate" class="labels">法人代表:<i>*</i></label>
            <input type="text" name="corporation" id="corporate" autocomplete="off" placeholder="" required maxlength="18">
          </p>
          <p>
            <label for="corporatePhone" class="labels">法人电话:<i>*</i></label>
            <input type="text" name="corporationPhone" id="corporatePhone" autocomplete="off" placeholder="" required  corporationPhone >
          </p>
          <p>
            <label for="registrationDate" class="labels">注册日期:<i style="opacity: 0">*</i></label>
            <input type="text" class="datainp wicon"  name="creationtime" id="registrationDate" autocomplete="off" placeholder="" >
          </p>
          <p class="companyWebsite">
            <label for="companyWebsite" class="labels">公司网址:<i style="opacity: 0">*</i></label>
            <input type="url" name="companyUrl" id="companyWebsite" autocomplete="off" value="http://" maxlength="90">
          </p>
          <p class="registeredAssets">
            <label for="registeredAssets" class="labels">注册资本:<i style="opacity: 0">*</i></label>
            <input type="text" name="registeredCapital" id="registeredAssets" autocomplete="off" placeholder="" maxlength="40">
          </p>
          <p class="licenseNumber">
            <label for="licenseNumber" class="labels">营业执照号:<i style="opacity: 0">*</i></label>
            <input type="text" name="businessLicenseNo" id="licenseNumber" autocomplete="off" placeholder="" maxlength="60">
          </p>
          <div class="uploadImg">
            <i class="fa fa-minus-square"></i>
            <div id="fileName">营业执照<br>影印文件</div>
            <div id="videoFile">
              <div class="imgFile">
                <img src="" alt="">
              </div>
              <input type="file" id="upload" style="display: none;">
              <span>上传文件</span>
            </div> 
          </div>
        </div>
            <div class="authenticationInfo">
              <h3>认证信息</h3>
              <p>
                <label for="identificationCode" class="labels">纳税人识别码:<i>*</i></label>
                <input type="text" name="taxpayerNo" id="identificationCode" autocomplete="off" placeholder="" required maxlength="60">
              </p>
              <p>
                <label for="bankName" class="labels">开户行:<i>*</i></label>
                <input type="text" name="bankAccount" id="bankName" autocomplete="off" placeholder="" required maxlength="90">
              </p>
              <p>
                <label for="accountNumber" class="labels">开户账号:<i>*</i></label>
                <input type="text" name="bankAccountNo" id="accountNumber" autocomplete="off" placeholder="" required maxlength="60">
              </p>
            </div>
            <input class="Request" id="saveBtn" type="button" value="提交认证申请" id=<%=data.id%>>
        </form>
      </div>
  </div>
